@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #a6b880;
  --secondary: #2df199;
  --gray: #9a98b5;

  --bg-color: #fafafa;
  --faded-bg-color: #d1d1d1;
  --text-color: black;

  --math: #4db6ff;
  --english: #ff7354;
  --science: #a8ff61;
  --history: #ffc95e;
  --russian: #a463ff;
}

.dark {
  --primary: #364613;
  --secondary: #2df199;
  --gray: #4b4a58;

  --bg-color: #191919;
  --faded-bg-color: #4d4d4d;
  --text-color: rgb(245, 245, 245);

  --math: #294356;
  --english: #55322b;
  --science: #3e4f30;
  --history: #624b1d;
  --russian: #3d2f51;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--bg-color);
  display: none;
}

* {
  box-sizing: border-box;
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color) !important;
  @apply transition-all duration-500;
}

button {
  touch-action: manipulation;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #d1d4d8 inset;
  -webkit-text-fill-color: #000;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px #d1d4d8 inset;
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
  width: 0.75em;
}
::-webkit-scrollbar-track {
  background-color: var(--faded-bg-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 1em;
}

/* daisy ui stuff below... */
.du-btn {
  @apply rounded-full;
}
