@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #a6b880;
  --secondary: #2df199;
  --gray: #9a98b5;

  --bg-color: #fafafa;
  --bg-color-contrast: rgb(40, 40, 40);
  --bg-color-contrast-translucent: rgba(0, 0, 0, 0.2);
  --faded-bg-color-dark: rgb(220, 220, 220);
  --faded-bg-color: #d1d1d1;
  --faded-bg-color-light: rgb(241, 245, 245);
  --text-color: black;
  --faded-text-color: rgb(70, 70, 70);
  --text-color-contrast: white;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--bg-color);
  display: none;
}

* {
  box-sizing: border-box;
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

button {
  touch-action: manipulation;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #d1d4d8 inset;
  -webkit-text-fill-color: #000;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px #d1d4d8 inset;
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
  width: 0.75em;
}
::-webkit-scrollbar-track {
  background-color: var(--faded-bg-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 1em;
}
